
Aula02/
/ExerciciosDasAulasTeorica/nbproject/private/
*.xml
*.mf
*.properties
JogoTeste/build/classes/.netbeans_automatic_build
JogoTeste/build/classes/.netbeans_update_resources
*.class
*.form
/BancoX/nbproject/private/
/BancoX/build/
/BancoX/dist/
/Revisao/nbproject/private/
/Revisao/build/
/TesteEmpresa/nbproject/private/
/TesteEmpresa/build/
/ReplicaPrimeiraProva/nbproject/private/
/Heranca/nbproject/private/
/Heranca/build/
